@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe --default;
}

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

.font-fa {
  font-family: var(--font-yekan), sans-serif;
}

.font-en {
  font-family: var(--font-Inter), sans-serif;
}



@import "react-awesome-lightbox/build/style.css";

.my-clip {
  clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
}

.my-clip-rt {
  clip-path: polygon(48% 0, 100% 0, 100% 100%, 0% 100%);
}

.my-clip-card-rt {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 50%);
}

.my-clip-card-lt {
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 50%);
}

.my-clip-rho {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* .my-clip-rho2 {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} */

/* Apply globally */
html,
body {
  direction: rtl;
  font-family: var(--font-yekan);
}




/* animate fade up */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-up { animation: fadeUp 0.7s ease-out both; }

/* shadow و تنظیمات swiper buttons */
.timeline-shadow {
  box-shadow: 0 25px 45px rgba(2,6,23,0.12);
}

/* سفارشی برای دکمه‌های navigation */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.35);
  border-radius: 9999px;
  --tw-shadow: 0 6px 18px rgba(2,6,23,0.12);
}

/* bullets */
.swiper-pagination-bullet {
  background-color: rgba(255,255,255,0.6);
}
.swiper-pagination-bullet-active { background-color: white; }

/* جلوگیری از انتخاب تصویر حین درگ */
img { -webkit-user-drag: none; user-select: none; }

/* globals.css یا style.css */
.mySwiper .swiper-slide-thumb-active img {
  @apply border-2 border-[#007EBA] shadow-sm shadow-[#007EBA];
}


.projects-swiper .swiper-pagination {
  margin-top: 1rem; /* mt-4 */
  position: relative;
}


.en-numbers {
  font-family: "Inter", "Roboto", sans-serif;
  font-variant-numeric: lining-nums;
}



.cursor-swiper-left {
  cursor: url("/SVGs/left.svg"), w-resize;
}

.cursor-swiper-right {
  cursor: url("/SVGs/right.svg"), e-resize;
}
